body {
    background-color: #e5e5e5;
}

.centered {
  position: relative;
  width: 500px;  /* Можно настроить ширину контейнера */
  height: 500px; /* Можно настроить высоту контейнера */
  border: none; /* Для наглядности */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Выровнять текст по центру */
}

/* .wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
} */
.centered span {
  margin-top: 40px;
  font-size: 260px;
  font-weight: 700;
  color: #e5e5e5;
  mix-blend-mode: difference;
}


/* .form-select-lg .gray_text {
  color: rgba(0, 0, 0, 0.5);
} */


.input-code-area {
  background-color: #2d2d2d;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(171, 171, 171, 0.2) inset;
-moz-box-shadow: 0px 0px 2px 0px rgba(171, 171, 171, 0.2) inset;
box-shadow: 0px 0px 2px 0px rgba(171, 171, 171, 0.2) inset;
  color: #efefef;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  /* font-family: "Heebo", sans-serif; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 500px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  resize:vertical;
}

.input-code-area:hover, .form-select.form-select-lg:hover, .form-control.form-control-lg:hover {
  cursor: pointer;
  background-color: #383838;
  color: #d1d1d1;
}

.input-code-area:focus, .form-select.form-select-lg:focus, .form-control.form-control-lg:focus {
  cursor: text;
  color: #ffffff;
  background-color: #111111;
  border-color: #eceaff;
}

.form-select.form-select-lg {
  background-color: #2d2d2d;
  color: #efefef;
}

.form-control.form-control-lg {
  background-color: #2d2d2d;
  color: #efefef;
}

.btn.btn-secondary {

  background-color: #2d2d2d;
  color: #efefef;
}

.btn.btn-secondary:active {
  background-color: #111111;
  border-color: #eceaff;
}


/* 
.my-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f0f0;
  padding: 5px;
  // border: 1px solid #ccc;
  height: 40px;
  border-radius: 5px;
}

.my-bar-item {
  position: relative;
  align-content: center;
  margin-right: 10px;
}


.small-box {
  border: none;
  height: 30px;
  width: fit-content;
  // padding: 5px 5px;
  align-content: center;
  align-self: center;
  vertical-align: middle;
}

.small-box.button {
  background-color: #d3c43f;
  border: none;
  border-radius: 5px;
}

.small-box.button:hover {
  background-color: #b0a434;
}

.small-box.button:active {
  background-color: rgb(148, 138, 45);
} */

.btn1{
  position: relative;
  top: 10px; /* Отступ от верха родительского элемента*/
  right: 10px; /* Отступ от левого края родительского элемента*/
  float: right; /* Выравнивать по правому краю*/
  
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  min-width: 100px;
  width: 50%;
  transition: background 0.5s ease;
}

.btn1:hover {
  background: #1d49aa;
}

.btn1.on-click-animation {
  outline: none;
  animation: btn-on-click-shadow 0.3s forwards;
}

@keyframes btn-on-click-shadow {
  0% {
    box-shadow: none;
  }
  25% {
      box-shadow: 0 0 0 3px rgba(29, 74, 170, 0.3)
      /* #1d49aa */
      /* #a28bff79 */
  }
  100% {
      box-shadow: none;
  }
}


