{% extends 'base.html' %}

{% block title %}КодоКопирка{% endblock %}

{% block content %}
<!-- <div hidden id="CODE_TEXT_SAMPLE">{{code_text}}</div> -->
<div class="container my-5">
    <!--        Выбор кода и тд. Первая строка-->
    <div class="row">
        <div class=col-md-6>
            <div class="mb-3">
                <p class="display-6">Code with ID: {{text_id}}</p>
            </div>
        </div>

        <div class="col-md-5" aria-label="Programming Language Selector">
            <div class="mb-3">
                <select class="form-select form-select-lg" id="coding_language" name="coding_language">
                    <option value="{{prefered_language[0]}}" selected style="font-weight:bold"> По умолчанию {{prefered_language[1]}}
                        <!-- !!!Тут типа текст: "По умолчанию: валью которое мы до этого выбрали"или другая фигня, которая по умолчанию стоит!!!  -->
                    </option>
                    <option value="language-cpp">C++</option>
                    <option value="language-python">Python</option>
                    <option value="language-javascript">JavaScript</option>
                    <option value="language-csharp">C#</option>
                    <option value="language-c">C</option>
                    <option value="language-go">Go</option>
                    <option value="language-applescript">AppleScript</option>
                    <option value="language-kotlin">Kotlin</option>
                    <option value="language-pascal">Pascal</option>
                    <option value="language-java">Java</option>
                    <option value="language-jq">JQ</option>
                    <option value="language-r">R</option>
                    <option value="language-wolfram">Mathematica/Wolfram Language</option>
                    <option value="language-rust">Rust</option>
                    <option value="language-lua">Lua</option>
                    <option value="language-vbnet">Visual Basic .NET</option>
                    <option value="language-swift">Swift</option>
                    <option value="language-scala">Scala</option>
                    <option value="language-ruby">Ruby</option>
                    <option value="language-php">PHP</option>
                    <option value="language-powershell">PowerShell</option>
                    <option value="language-perl">Perl</option>
                    <option value="language-cobol">COBOL</option>
                    <option value="language-armasm">ARM Assembly</option>
                    <option value="language-fortran">Fortran</option>
                    <option value="language-erlang">Erlang</option>
                </select>
            </div>

        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-secondary" onclick="changeLanguage()" style="height: 75%; ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#efefef" class="bi bi-code-slash"
                     viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Сам текст -->
    <pre id="pre_code"><code id="printed_code" class="{{ prefered_language[0] }}">{{ code_text }}</code>
    </pre>
    <br>
    <!--        Кнопочка отправить-->
    <!-- <div class="row">
        <div class="col">
            <div class="spacer"></div>
        </div>
        <div class="col">
            <button id="send_code_to_server_button" class="btn1">Загрузить</button>
            <script src="{{ url_for('static', filename='btn-1.js') }}"></script>
        </div>
    </div> -->
</div>
</div>
{% endblock %}